<!DOCTYPE html>
<html lang="en">
<head>
    <title>404 error</title>
    <link rel="icon" href="/images/portfolio-icon.png">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <img src="/images/404-error-image.png" alt="404-error-image">
        <p class="error-message">{{errorMessage}}</p>
    </div>
    {{>footer}}
</body>
</html>


{{!-- <h3><a href="/">Back Home</a></h3> --}}
