<!DOCTYPE html>
<html lang="en">
<head>
    <title>Contact</title>
    <link rel="icon" href="/images/portfolio-icon.png">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <h3>Email: {{email}}</h3>
        <h3>Phone: {{phone}}</h3>
    </div>
    {{>footer}}
</body>
</html>