<h1>{{pageName}}</h1>
<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>
</nav>



{{!-- <div>using partial, we create once, and can be used in several files.</div> 
--> here h1 tag displaying page name is dynamic and can be used in many view pages, by creating once
--> also navbar is created once and is dispplayed on all pages

--}}
